.about-us__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.about-us__wrapper {
  border-top: 0.5px solid $grey;
  border-bottom: 0.5px solid $grey;
  padding: 37px 0 49px;
  display: flex;
}

.about-us__text-wrap {
  max-width: 584px;
  margin-right: 13.4%;
}

.about-us__author-slogan {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.about-us__service-slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  margin: 0 0 11px;
}

.about-us__author-description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  &--hidden {
    display: none;
  }
}

.about-us__author-description:first-of-type {
  margin-bottom: 27px;
}

.about-us__author-description:nth-of-type(2) {
  margin-bottom: 4px;
}

.about-us__service-description {
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  &--hidden {
    display: none;
  }
}

.about-us__service-description:nth-of-type(1) {
  margin-bottom: 9px;
}

.about-us__author-description:nth-of-type(3),
.about-us__service-description:nth-of-type(2) {
  padding-top: 10px;
}

.about-us__author-personal-info {
  order: 3;
  text-align: center;
  font-size: 16px;
  margin: 0 0 5px;

  &--hidden {
    display: none;
  }
}

.about-us__more-text-button {
  @include reset-button;

  color: $blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 118px;
  justify-content: space-between;

  &--hidden {
    display: none;
  }
}

.about-us__author {
  margin-bottom: 36px;
}

.about-us__icon {
  width: 11px;
  height: 1px;
  display: block;
  position: relative;
}

.about-us__icon::before,
.about-us__icon::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 1px;
  background-color: $grey;
  top: 0;
}

.about-us__icon::before {
  left: 0;
  transform: rotate(45deg);
}

.about-us__icon::after {
  right: 0;
  transform: rotate(-45deg);
}

.about-us__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  order: 1;
  margin: 0 0 7px;
}

.about-us__work-type {
  line-height: 21px;
  order: 2;
  margin: 0 0 11px;
}

.about-us__more-author-info {
  @include reset-button;

  color: $blue;
  display: inline-block;
  vertical-align: top;
  width: 225px;
  text-align: center;
  order: 3;
  font-weight: 500;

  &--hidden {
    display: none;
  }
}

.about-us__more-text-button:hover,
.about-us__more-text-button:focus,
.about-us__more-author-info:hover,
.about-us__more-author-info:focus {
  color: $navy;
}

.about-us__more-text-button:hover .about-us__icon::before,
.about-us__more-text-button:hover .about-us__icon::after {
  background-color: $black;
}

.about-us__more-text-button:active,
.about-us__more-author-info:active {
  opacity: 0.7;
}

.about-us__author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  position: relative;
  padding-top: 32px;
}

.about-us__author-picture {
  display: block;
  order: -1;
  margin: 0 0 22px;
}

.about-us__heart {
  position: absolute;
  top: 17px;
  right: 0;
}

@media (max-width: $mobile-width) {
  .about-us__container {
    padding: 0;
  }

  .about-us__wrapper {
    flex-direction: column-reverse;
    padding: 0 3.1% 0 4.86%;
    border-top: none;
    border-bottom: none;
  }

  .about-us__author-info {
    margin-bottom: 19px;
    padding-right: 5%;
    padding-top: 34px;
  }

  .about-us__work-type {
    margin: 0 0 8px;
  }

  .about-us__more-author-info {
    line-height: 21px;
  }

  .about-us__author-slogan {
    margin: 0 0 12px;
  }

  .about-us__text-wrap {
    margin-right: 5px;
  }

  .about-us__author-description:nth-of-type(2) {
    margin-bottom: 19px;
  }

  .about-us__author {
    margin-bottom: 26px;
  }

  .about-us__service-description:nth-of-type(1) {
    margin: 0 0 19px;
  }

  .about-us__heart {
    top: 20px;
    right: 1px;
  }

  .about-us__author-personal-info {
    font-size: 14px;
  }
}
