.description__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.description__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  margin: 0 0 10px;
  width: 285px;
}

.description__text {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 14px;
  padding-right: 3%;
}

.description__info-list {
  @include reset-list;

  padding-bottom: 32px;
  border-bottom: 0.5px solid $grey;
}

.description__item div {
  line-height: 20px;
  font-weight: 500;
}

.description__icon-star {
  color: $orange;
}

.description__item {
  display: flex;
  align-items: center;

  &--time-mobile,
  &--language,
  &--money,
  &--location-mobile {
    display: none;
  }
}

.description__item:not(:last-child) {
  margin-bottom: 17px;
}

.description__icon {
  flex-shrink: 1;
  margin-right: 13px;
}

.description__raiting {
  display: flex;
  align-items: center;
  padding: 23px 0 28px;
  border-bottom: 0.5px solid $grey;
  margin: 0 0 29px;
}

.description__stars {
  display: flex;
  align-items: center;
}

.description__icon-star:not(:last-child) {
  margin-right: 7px;
}

.description__raiting-text {
  font-size: 18px;
  line-height: 26px;
  margin-right: 14px;
}

.description__icon-champ {
  margin-right: 12px;
}

.description__text-wrap {
  max-width: 569px;
  width: 100%;
}

.description__video-wrap {
  position: relative;
  width: 554px;
  height: 374px;
  margin-bottom: 20px;
}

.description__video-play {
  @include reset-button;

  position: absolute;
  top: 322px;
  left: 500px;

  &--hidden {
    display: none;
  }
}

.description__video {
  height: 374px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &--hidden {
    display: none;
  }
}

.description__icon-play {
  color: $white;
}

.description__video-play:hover .description__icon-play,
.description__video-play:focus .description__icon-play {
  color: $orange;
}

.description__video-play:active .description__icon-play {
  opacity: 0.9;
}

.description__video-play:active {
  opacity: 0.7;
}

.description__raiting-wrap {
  display: flex;
}

.description__youtube {
  //position: absolute;
  border: none;
  // left: 0;
  // top: 0;
  width: 554px;
  height: 374px;
  z-index: -1;
}

@media (max-width: $mobile-width) {
  .description__title {
    font-size: 28px;
    line-height: 34px;
    width: 197px;
    text-align: center;

    position: absolute;
    top: -307px;
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
    margin-bottom: 0;
  }

  .description__text-wrap {
    position: relative;
  }

  .description__container {
    padding: 0;
    flex-direction: column-reverse;
  }

  .description {
    padding: 121px 4.86% 60px;
  }

  .description__video-wrap {
    width: 100%;
    height: 197px;
    margin-bottom: 29px;
  }

  .description__video {
    height: 197px;
  }

  .description__video[poster] {
    object-fit: cover;
  }

  .description__text {
    padding: 0;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 35px;
  }

  .description__item {
    &--time-mobile,
    &--language,
    &--money,
    &--location-mobile {
      display: flex;
    }

    &--time-desktop,
    &--question,
    &--location-desktop,
    &--question {
      display: none;
    }
  }

  .description__icon {
    margin-right: 9px;
  }

  .description__item:not(:last-child) {
    margin-bottom: 14px;
  }

  .description__raiting-wrap {
    flex-direction: column;
  }

  .description__raiting-text {
    font-size: 14px;
    line-height: 24px;
    margin-right: 0;
  }

  .description__raiting {
    padding: 13px 0 17px;
    margin: 0;
  }

  .description__icon-champ {
    width: 37px;
    height: 41px;
  }

  .description__info-list {
    padding: 0 0 12px;
  }

  .description__video-play {
    top: 159px;
    left: auto;
    right: 14px;
  }

  .description__icon-play {
    height: 20px;
  }

  .description__youtube {
    height: 197px;
    width: 100%;
  }
}
