.page-header__logo-icon {
  color: $dark-black;
}

.page-header__container {
  width: 100%;
  max-width: 1200px;
  padding: 39px 30px 32px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.page-header__logo-link {
  margin-right: 36px;
}

.page-header__phone-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.page-header__phone-link {
  color: $black;
  line-height: 17px;
}

.page-header__phone {
  color: $light-grey;
  line-height: 17px;
}

.page-header__phone-link:hover,
.page-header__phone-link:focus {
  color: $navy;
}

.page-header__phone-link:active {
  opacity: 0.7;
}

.page-header__mobile-menu {
  display: none;
}

@media (max-width: $mobile-width) {
  .page-header__container {
    max-width: 767px;
    padding: 20px 4.69% 12px;
    justify-content: space-between;
  }

  .page-header__phone-wrap {
    display: none;
  }

  .page-header__mobile-menu {
    display: flex;
    width: 161px;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__cabinet {
    color: $grey;
  }

  .page-header__town-button {
    @include reset-button;

    color: $blue;
    line-height: 17px;
  }

  .page-header__town-button:hover,
  .page-header__town-button:focus {
    color: $navy;
  }

  .page-header__town-button:active {
    opacity: 0.7;
  }

  .page-header__logo-icon {
    width: 84px;
    height: 15px;
  }

  .page-header__cabinet:hover,
  .page-header__cabinet:focus {
    color: $black;
  }

  .page-header__cabinet:active {
    opacity: 0.7;
  }
}
