.photos__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin: 0 0 33px;
}

.photos__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

.photos__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 24px 20px;
  margin: 0 auto;
}

.photos__picture {
  display: block;
  height: 185px;
}

.photos__item {
  margin: 0 6px 11px;

  &--hidden {
    display: none;
  }
}

.photos__button {
  @include reset-button;

  color: $blue;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  width: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50%;
  transform: translateX(-53%);

  &--hidden {
    display: none;
  }
}

.photos__button:hover,
.photos__button:focus {
  color: $navy;
}

.photos__button:hover .photos__icon::before,
.photos__button:hover .photos__icon::after {
  background-color: $black;
}

.photos__button:active {
  opacity: 0.7;
}

.photos__icon {
  width: 11px;
  height: 6px;
  display: block;
  position: relative;
}

.photos__icon::before,
.photos__icon::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 1px;
  background-color: $grey;
  top: 0;
}

.photos__icon::before {
  left: 0;
  transform: rotate(45deg);
}

.photos__icon::after {
  right: 0;
  transform: rotate(-45deg);
}

@media (max-width: $mobile-width) {
  .photos__title {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin: 0 0 30px;
  }

  .photos__container {
    padding: 0 4.69% 29px;
  }

  .photos__button {
    display: none;
  }

  .photos__picture {
    width: 277px;
  }

  .photos__item {
    flex-shrink: 0;
    width: 277px;
    margin-right: 15px;
    margin-bottom: 0;

    &--hidden {
      display: block;
    }
  }

  .photos__list {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 0;
  }
}
