.promotion {
  background-color: $light-purple;
  color: $white;
  padding: 286px 0 259px;
  background-image: url("../img/backgrounds/bg-promotion-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 70px;
  background-position: top 0 right 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-promotion-desktop@2x.jpg");
  }
}

.promotion__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 14% 0 30px;
  margin: 0 auto;
}

.promotion__button {
  @include reset-button;

  color: $white;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 304px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 3px;
  border: 3px solid $white;
  box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25), 0 4px 70px rgba(255, 255, 255, 0.7);
  padding: 24px 10px 19px;
  font-weight: 900;
}

.promotion__button:hover,
.promotion__button:focus {
  border-color: $orange;
  color: $pale-grey;
}

.promotion__button:active {
  opacity: 0.7;
}

.promotion__title {
  font-size: 40px;
  line-height: 49px;
  font-weight: 700;
  margin: 0 0 20px;
}

.promotion__title span {
  color: $orange;
}

.promotion__slogan {
  width: 224px;
  display: flex;
  padding: 11px 29px 21px 23px;

  background-image: url("../img/backgrounds/bg-promotion-orange-block@1x.png");
  background-repeat: no-repeat;
  background-size: 224px 96px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/bg-promotion-orange-block@2x.png");
  }
}

.promotion__percent {
  width: 52px;
  height: 52px;
  border: 1px solid $white;
  border-radius: 50%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 35px;
  line-height: 35px;
  margin-top: 5px;
}

.promotion__price {
  font-weight: 800;
  font-size: 35px;
  line-height: 53px;
}

.promotion__price-name {
  font-size: 20px;
  line-height: 20px;
}

.promotion__slogan-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}


@media (max-width: $mobile-width) {
  .promotion__title {
    font-size: 32px;
    line-height: 39px;
    margin: 0 0 36px;
  }

  .promotion__button {
    width: 275px;
    font-size: 16px;
    line-height: 20px;
  }

  .promotion__price-name {
    font-size: 18px;
    line-height: 21px;
  }

  .promotion__price {
    font-size: 30px;
    line-height: 45px;
  }

  .promotion__percent {
    font-size: 30px;
    width: 47px;
    line-height: 47px;
  }

  .promotion {
    background-image: url("../img/backgrounds/bg-promotion-mobile@1x.png");
    background-position: top 0 left 0;
    padding: 141px 7.69% 152px 4.69%;
    margin-bottom: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-promotion-mobile@2x.png");
    }
  }

  .promotion__container {
    padding: 0;
  }

  .promotion__slogan {
    background-image: url("../img/backgrounds/bg-promotion-orange-block-mobile@1x.png");
    background-size: 204px 93px;
    padding: 9px 27px 25px 18px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/bg-promotion-orange-block-mobile@2x.png");
    }
  }

  .promotion__slogan-wrap {
    margin-right: 23px;
  }
}
