.reviews__wrapper {
  padding: 131px 30px 83px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.reviews__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  margin: 0 0 45px;
}

.reviews__list {
  @include reset-list;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 29px;
}

.reviews__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin: 10px 0 7px;
}

.reviews__position {
  display: block;
  margin-bottom: 6px;
}

.reviews__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 13px;
}

.reviews__icon-star {
  color: $orange;
}

.reviews__item {
  display: flex;
  flex-direction: column;

  &--hidden {
    display: none;
  }
}

.reviews__item:not(:last-child) {
  margin-bottom: 36px;
}

.reviews__author-picture {
  display: block;
  flex-shrink: 1;
  margin-right: 20px;
  width: 101px;
  height: 101px;
}

.reviews__result {
  display: flex;
  align-items: center;

  &--mobile {
    display: none;
  }
}

.reviews__wrap {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.reviews__raiting {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.reviews__icon-star:not(:last-of-type) {
  margin-right: 7px;
}

.reviews__date {
  color: $light-grey;
  margin-bottom: 24px;
}

.reviews__author-info {
  display: flex;
}

.reviews__text-wrap {
  width: 510px;
  margin-left: 121px;
  border-bottom: 0.5px solid $grey;
}

.reviews__button {
  @include reset-button;

  color: $blue;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 200px;
  justify-content: space-between;

  &--hidden {
    display: none;
  }
}

.reviews__result-text {
  color: $light-grey;
}

.reviews__button-icon {
  width: 11px;
  height: 1px;
  display: block;
  position: relative;
}

.reviews__button-icon::before,
.reviews__button-icon::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 1px;
  background-color: $grey;
  top: 0;
}

.reviews__button-icon::before {
  left: 0;
  transform: rotate(45deg);
}

.reviews__button-icon::after {
  right: 0;
  transform: rotate(-45deg);
}

.reviews__button:hover,
.reviews__button:focus {
  color: $navy;
}

.reviews__button:hover .reviews__button-icon::before,
.reviews__button:hover .reviews__button-icon::after {
  background-color: $black;
}

.reviews__button:active {
  opacity: 0.7;
}

@media (max-width: $mobile-width) {
  .reviews__title {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
  }

  .reviews__wrapper {
    padding: 56px 4.86% 76px;
  }

  .reviews__result {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;

    &--desktop {
      display: none;
    }

    &--mobile {
      display: flex;
    }
  }

  .reviews__text-wrap {
    margin-left: 0;
    width: auto;
  }

  .reviews__author-picture {
    width: 84px;
    height: 84px;
  }

  .reviews__name {
    font-size: 16px;
    line-height: 20px;
    margin: 4px 0 3px;
  }

  .reviews__position {
    margin-bottom: 7px;
  }

  .reviews__check-icon {
    margin-right: 5px;
  }

  .reviews__wrap {
    margin-bottom: 0;
  }

  .reviews__author-info {
    margin-bottom: 22px;
  }

  .reviews__text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 37px;
  }

  .reviews__date {
    margin-bottom: 36px;
  }

  .reviews__item:not(:last-child) {
    margin-bottom: 31px;
  }

  .reviews__item:nth-child(2) {
    .reviews__text {
      margin-bottom: 18px;
    }
  }

  .reviews__item:nth-child(3) {
    display: none;
  }

  .reviews__list {
    margin-bottom: 7px;
  }

  .reviews__button-icon:nth-of-type(1) {
    display: none;
  }

  .reviews__button {
    width: 180px;
  }

  .reviews__button-icon::before {
    top: -2px;
    left: 4px;
  }

  .reviews__button-icon::after {
    top: 3px;
  }
}
