.social {
  @include reset-list;

  display: flex;
  align-items: center;
  margin-right: 30px;
}

.social__item {
  &--vk {
    .social__link {
      color: $soft-blue;
      height: 16px;
    }
  }

  &--fb {
    .social__link {
      color: $navy;
      height: 26px;
    }
  }

  &--inst {
    .social__link {
      color: $black;
      height: 26px;
    }
  }
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  display: block;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  color: $dark-black;
}

.social__link:active {
  opacity: 0.7;
}

@media (max-width: $mobile-width) {
  .social {
    margin-right: 0;
  }
}
