$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$dark-black: #000000;
$black: #37373f;
$light-grey: #b3b3b3;
$grey: #c7c7c7;
$pale-grey: #c4c4c4;
$orange: #fc9b09;
$dark-orange: #c47500;
$light-purple: #c8bebf;
$blue: #5286ec;
$navy: #4a68ad;
$soft-blue: #5476a4;
$pale-light-grey: #faf9f8;
$mobile-width: 767px;
$dark-red: #8b0000;
$red: #fa0707;
